.centered-text {
  text-align: center;
}

h1 {
  background-color: #FF51E9;
}

h2 {
/*  color: red; */
  color: #ff0000;
  font-size: 2em;
}

p{
  background-color: #fff6fe; /* being doubled so aa0000 is printinted */
}

p.special{
  font-size: 1.2em:
  color: #00f;
}
