.centered-text {
  text-align: center;
}

h1 {
  background-color: #ff7dff;
}

marquee {
  background-color: #ff7dff;
}

body {
  background-color: #ffe8ff;
}

p{
  background-color: #ab9bab; /* being doubled so aa0000 is printinted */
}

.special{
  color: #ff7dff;
}
