.centered-text {
  text-align: center;
}

h1 {
  background-color: #FF51E9;
}


p{
  background-color: #fff6fe; /* being doubled so aa0000 is printinted */
}

p.special{
  font-size: 1.2em:
  color: #00f;
}
