

h2 {
/*  color: red; */
  color: pink;
  font-size: 2em;
}

p{
  background-color: #a00; /* being doubled so aa0000 is printinted */
}

/* p.special{
  font-size: 1.2em:
  color: #00f;
} */

body {
  background-color: lightgreen;
}
